*{
        margin:0;
        padding:0;
    }
     .acc-items {
            border: 3px solid #ccc;
            margin: 5px;
            padding: 10px;
            cursor: pointer;
            user-select: none;
            text-align: center;
        }

        .highlighted {
            background-color: yellow;
        }
        
        .acc-content {
            display: none;
            padding: 10px;
            color:burlywood;
        }
